.orange-button {
    text-align: center;
    font-weight: 700;
    border-radius: 44px;
    width: 100%;
    height: 100%;
    background-color: #C75702;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue-button{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    line-height: normal;
    border-radius: 44px;
    width: 100%;
    height: 100%;
    background-color: blue;
}