.event-frame {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.event-frame h2{
    color: white;
    font: 700;
    font-size:40px;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
}

.event-container {
    border-radius: 35px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 18%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 45.31%, #000 94.79%);
}
.event-container img{
    border-radius: 35px 35px 35px 35px;
    position: relative;
    width: 100%;
    z-index: -1;
    height: 100%;
}
.event-name{
    justify-self: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    bottom: 5%;
    left: 5%;
    width: 90%;
}
.event-date-time{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000000;
}