.post-view-component {
    width: 63%;
    height: 100%;
    flex: 1;
    overflow: auto;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

/* color of the tracking area */
::-webkit-scrollbar-thumb {
    background-color: #E58B47;
    border-radius: 20px;
}

::-webkit-scrollbar {

    width: 5px;

}