.post-view-component {
    width: 63%;
    height: 100%;
    flex: 1;
    overflow: auto;
    justify-self: center;
    align-self: center;
    align-items: center;
}
.test-post{
    background-color: green;
    padding: 100px;
    border: 1px solid black;
}


::-webkit-scrollbar {
    display: none;
 }